<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../js/index.js" type="module"></script>
    <link rel="stylesheet" href="/src/css/about.css">
    <title>About</title>
</head>
<body>
    <nav class="nav">
        <a href="/">Home</a>
        <a href="/pages/dashboard.html">dashboard</a>
        <a href="/pages/blogs.html">blogs</a>
        <a href="/pages/about.html">about</a>
    </nav>
    <main class="content">
        <section>
            <header class="header">
                You are viewing the About page
            </header>
        </section>
    </main>
</body>
</html>