<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/src/js/dashboard.js" type="module"></script>
    <link rel="stylesheet" href="/src/css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <nav class="nav">
        <a href="/">Home</a>
        <a href="/src/views/dashboard.html">dashboard</a>
        <a href="/src/views/blogs.html">blogs</a>
        <a href="/src/views/about.html">about</a>
    </nav>
    <main class="content">
        <section>
            <header class="header">
                You are viewing the Dashboard page
            </header>
        </section>
    </main>
</body>
</html>